<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h5 class="card-title">{{ object.name|title }}</h5>
            <p class="card-text">{{ object.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:product_detail' object.pk %}"
                       class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                {% if object.price %}
                <small class="text-muted">{{ object.price }} р.</small>
                {% else %}
                <small class="text-muted">Цена не указана</small>
                {% endif %}
            </div>
        </div>
    </div>
</div>