{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">{{ object.name|title }}</h5>
            </div>
            <img class="card-img-top"
                 src="{{ object.photo|mymedia }}"
                 alt="Card image cap">
            <div class="card-body">
                {% if object.price %}
                <h3 class="card-title pricing-card-title">{{ object.price }} р.</h3>
                {% else %}
                <h3 class="card-title pricing-card-title">Цена не указана</h3>
                {% endif %}
                <p class="card-text">{{ object.description|slice:":100" }}</p>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
